<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doanh thu hàng năm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <%- include('../header', { pageTitle: 'Doanh thu hàng năm' }) %>
    <div class="container mt-5">
        <h2 class="mt-5 text-center text-primary">Doanh thu hàng năm cho 2 năm gần nhất</h2>

        <!-- Khung vẽ biểu đồ nhỏ hơn -->
        <div class="chart-container">
            <canvas id="yearlyRevenueChart" ></canvas> 
        </div>

        <script>
        
            const labels = <%- JSON.stringify(labels) %>; 
            const adminYearlyRevenue = <%- JSON.stringify(adminRevenues) %>;
            const partnerYearlyRevenue = <%- JSON.stringify(partnerRevenues) %>; 

            const totalRevenue = adminYearlyRevenue.map((adminRevenue, index) => {
                return adminRevenue + partnerYearlyRevenue[index];
            });
            const ctx = document.getElementById('yearlyRevenueChart').getContext('2d');
            const yearlyRevenueChart = new Chart(ctx, {
                type: 'bar', 
                data: {
                    labels: labels, 
                    datasets: [
                        {
                            label: 'Doanh thu Admin (VNĐ)', 
                            data: adminYearlyRevenue, 
                            backgroundColor: ['rgba(75, 192, 192, 0.7)'], 
                            borderColor: 'rgba(75, 192, 192, 1)', 
                            borderWidth: 1 
                        },
                        {
                            label: 'Doanh thu Partner (VNĐ)',
                            data: partnerYearlyRevenue, 
                            backgroundColor: ['rgba(153, 102, 255, 0.7)'], 
                            borderColor: 'rgba(153, 102, 255, 1)',
                            borderWidth: 1 
                        }
                    ]
                },
                options: {
                    responsive: true, 
                    cutoutPercentage: 60, 
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return tooltipItem.raw.toLocaleString('vi-VN'); 
                                }
                            }
                        }
                    }
                }
            });
        </script>

    </div>
</body>

</html>
