<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create admin</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create_admin">Admin account</a>
    <a href="/create_tour">Tour</a>
    <a href="/create_tourtype">Tour Type</a>
    <a href="/create_detail">Tour Detail</a>
    <a href="/create_destination">Destination</a>
    <a href="/create_partner">Partner</a>
  </div>
  <div class="form-add-new">
    <form action="/create_TourType" method="post">
      <fieldset>
        <legend>Form add new TourType</legend>
      
        <div class="input-group">
          <label>TypeName: </label>
          <input type="text" name="TypeName"/>
        </div>

        <div>
          <button type="submit">Save</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="table_container">
    <div class="title">List TourType</div>
    <table>
      <tr>
        <th>ID</th>
        <th>Typename</th>
        <th>Action</th>
      </tr>
      <% listTourType.forEach(function(type) { %> 
        <tr>
          <td><%= type.id %></td>
          <td><%= type.tourType %></td>
          <td>
            <a href="/update_TourType/<%= type.id %>" class="EditBtn">Edit</a>

            <form action="/delete_tourtype/<%= type.id %>" method="post">
              <button class="DeleteBtn">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
      
    </table>
  </div>

</body>
</html>
