<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create admin</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create_admin">Admin account</a>
    <a href="/create_tour">Tour</a>
    <a href="/create_tourtype">Tour Type</a>
    <a href="/create_tour_detail">Tour Detail</a>
    <a href="/create_destination">Destination</a>
    <a href="/create_partner">Partner</a>
  </div>
  <div class="form-add-new">
    <form action="/update_tourtype" method="post">
      <fieldset>
        <legend>update TourType</legend>
        <div class="input-group d-non">
          <label>ID: </label>
          <input type="text" value="<%= tourtypeEdit.id %>" name="tourtypeId"/>
        </div>
        <div class="input-group">
          <label>TypeName: </label>
          <input type="text" value="<%= tourtypeEdit.tourType %>" name="TypeName"/>
        </div>

        <div>
          <button type="submit">Save</button>
        </div>
      </fieldset>
    </form>
  </div>
  
</body>
</html>
