<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create admin</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create_admin">Admin account</a>
    <a href="/create_tour">Tour</a>
    <a href="/create_tourtype">Tour Type</a>
    <a href="/create_detail">Tour Detail</a>
    <a href="/create_destination">Destination</a>
    <a href="/create_partner">Partner</a>
  </div>
  <div class="form-add-new">
    <form action="/create_destination" method="post">
      <fieldset>
        <legend>Form add new Destination</legend>
      
        <div class="input-group">
          <label>Destination: </label>
          <input type="text" name="Destination"/>
        </div>

        <div>
          <button type="submit">Save</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="table_container">
    <div class="title">List Destination</div>
    <table>
      <tr>
        <th>ID</th>
        <th>Destination</th>
        <th>Action</th>
      </tr>
      <% listDestination.forEach(function(des) { %> 
        <tr>
          <td><%= des.id %></td>
          <td><%= des.Destination %></td>
          <td>
            <a href="/update_Destination/<%= des.id %>" class="EditBtn">Edit</a>
            
            <form action="/delete_destination/<%= des.id %>" method="post">
              <button class="DeleteBtn">Delete</button>
            </form>
            
          </td>
        </tr>
      <% }); %>
      
    </table>
  </div>
</body>
</html>
